.collection-item{
    padding:10px 0px;
    border-bottom: 1px solid #dedede;
    cursor: pointer;
}
.collection-item__image{
    width: 100%;
}
.collection-item__btn-remove-collection{
    margin-left: 10px;
}