<div class="container video-view" *ngIf="video" appMoveFrame [iframeContainer]="iframeContainer">
    <!-- iframe -->
    <div class="iframe">
        <iframe [src]="('https://www.youtube.com/embed/'+ videoId) | safeUrl" frameborder="0" class="iframe__container"
            #iframeContainer allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>
    <h4>{{video.snippet.title}}</h4>
    <div class="video-view__related mt-5">
        <h5>Related videos</h5>
        <app-videos-list [videos]="videos$" [loading]="loadingRelated$" (scrolled)="onScrolled($event)"
            [infiniteScrollContainer]="'.video-view'">
        </app-videos-list>
    </div>
</div>