<div class="video">
    <div [routerLink]="['../video-view',videoId]">
        <img [src]="video.snippet.thumbnails.high.url" alt="" class="video_thumbnail">
    </div>
    <div class="video__title" (click)="onClickVideo()">
        <h5>
            {{video.snippet.title}}
        </h5>
    </div>
    <div class="video__channel-title">
        {{video.snippet.channelTitle}}
    </div>
    <button class="btn btn-info btn-sm video__btn-add-collection" *ngIf="!inCollection" (click)="addToCollection()">Add to collection</button>
    <button class="btn btn-danger btn-sm video__btn-remove-collection" *ngIf="inCollection" (click)="removeToCollection()">Remove to collection</button>
</div>