:host{
    display: block;
    height: 100%;
}
.main{
    display: flex;
    height: 100%;
    flex-direction: column;
}
.main__container{
    display: flex;
    flex:1;
    overflow: hidden;
}
.main__content{
    flex: 1;
}
