<div class="top-bar d-flex flex-column flex-md-row align-items-md-center justify-content-md-between">
    <div class="d-flex align-items-center">
        <button class="btn btn-primary mr-3" (click)="toggleMenu()">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <div class="top-bar__logo" routerLink="./">
            <h3 class="m-0">YouTube</h3>
        </div>
    </div>
    <div class="top-bar__input-search">
        <input type="text" id="" class="form-control" [(ngModel)]="searchQuery" (keyup.enter)="goToSearchPage()">
        <button class="btn btn-danger" (click)="goToSearchPage()">Search</button>
    </div>
</div>